@charset "UTF-8";

@font-face {
  font-family: Emoji;
  src: local("Hiragino Kaku Gothic ProN"),
       local("Meiryo");
}

@font-face {
  font-family: Emoji;
  font-weight: bold;
  src: local("Hiragino Kaku Gothic ProN"),
       local("Meiryo Bold");
}

@font-face {
  font-family: "Noto Sans JP";
  src: local("Segoe UI Emoji"),
  local("Segoe UI Symbol"),
  local("Apple Color Emoji"),
  local("Noto Color Emoji"),
  local("Noto Emoji");
  unicode-range: /*U+23, U+2A, U+30-39,*/ U+A9, U+AE, U+203C, U+2049, U+2122, U+2139, U+2194-2199, U+21A9-21AA, U+231A-231B, U+2328, U+23CF, U+23E9-23EA, U+23ED-23EF, U+23F1-23F3, U+23F8-23FA, U+24C2, U+25AA-25AB, U+25B6, U+25C0, U+25FB-25FE, U+2600-2604, U+260E, U+2611, U+2614-2615, U+2618, U+261D, U+2620, U+2622-2623, U+2626, U+262A, U+262E-262F, U+2638-263A, U+2640, U+2642, U+2648-2653, U+2660, U+2663, U+2665-2666, U+2668, U+267B, U+267F, U+2692-2697, U+2699, U+269B-269C, U+26A0-26A1, U+26AA-26AB, U+26B0-26B1, U+26BD-26BE, U+26C4-26C5, U+26C8, U+26CF, U+26D1, U+26D3-26D4, U+26E9-26EA, U+26F0-26F5, U+26F7-26FA, U+26FD, U+2702, U+2708-2709, U+270C-270D, U+270F, U+2712, U+2714, U+2716, U+271D, U+2721, U+2733-2734, U+2744, U+2747, U+2753, U+2757, U+2763-2764, U+27A1, U+2934-2935, U+2B05-2B07, U+2B1B-2B1C, U+2B50, U+2B55, U+3030, U+303D, U+3297, U+3299, U+1F004, U+1F170-1F171, U+1F17E-1F17F, U+1F202, U+1F21A, U+1F22F, U+1F237, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F321, U+1F324-1F32C, U+1F336, U+1F378, U+1F37D, U+1F393, U+1F396-1F397, U+1F399-1F39B, U+1F39E-1F39F, U+1F3A7, U+1F3AC-1F3AE, U+1F3C2, U+1F3C4, U+1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F3, U+1F3F5, U+1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F446-1F449, U+1F44D-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4BB, U+1F4BF, U+1F4CB, U+1F4DA, U+1F4DF, U+1F4E4-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD, U+1F508, U+1F50D, U+1F512-1F513, U+1F549-1F54A, U+1F550-1F567, U+1F56F-1F570, U+1F573-1F579, U+1F587, U+1F58A-1F58D, U+1F590, U+1F5A5, U+1F5A8, U+1F5B1-1F5B2, U+1F5BC, U+1F5C2-1F5C4, U+1F5D1-1F5D3, U+1F5DC-1F5DE, U+1F5E1, U+1F5E3, U+1F5E8, U+1F5EF, U+1F5F3, U+1F5FA, U+1F610, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6CB, U+1F6CD-1F6CF, U+1F6E0-1F6E5, U+1F6E9, U+1F6F0, U+1F6F3;
}

@font-face {
  font-family: "Noto Sans JP";
  font-weight: bold;
  src: local("Segoe UI Emoji"),
       local("Segoe UI Symbol"),
       local("Apple Color Emoji"),
       local("Noto Color Emoji"),
       local("Noto Emoji");
  unicode-range: /*U+23, U+2A, U+30-39,*/ U+A9, U+AE, U+203C, U+2049, U+2122, U+2139, U+2194-2199, U+21A9-21AA, U+231A-231B, U+2328, U+23CF, U+23E9-23EA, U+23ED-23EF, U+23F1-23F3, U+23F8-23FA, U+24C2, U+25AA-25AB, U+25B6, U+25C0, U+25FB-25FE, U+2600-2604, U+260E, U+2611, U+2614-2615, U+2618, U+261D, U+2620, U+2622-2623, U+2626, U+262A, U+262E-262F, U+2638-263A, U+2640, U+2642, U+2648-2653, U+2660, U+2663, U+2665-2666, U+2668, U+267B, U+267F, U+2692-2697, U+2699, U+269B-269C, U+26A0-26A1, U+26AA-26AB, U+26B0-26B1, U+26BD-26BE, U+26C4-26C5, U+26C8, U+26CF, U+26D1, U+26D3-26D4, U+26E9-26EA, U+26F0-26F5, U+26F7-26FA, U+26FD, U+2702, U+2708-2709, U+270C-270D, U+270F, U+2712, U+2714, U+2716, U+271D, U+2721, U+2733-2734, U+2744, U+2747, U+2753, U+2757, U+2763-2764, U+27A1, U+2934-2935, U+2B05-2B07, U+2B1B-2B1C, U+2B50, U+2B55, U+3030, U+303D, U+3297, U+3299, U+1F004, U+1F170-1F171, U+1F17E-1F17F, U+1F202, U+1F21A, U+1F22F, U+1F237, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F321, U+1F324-1F32C, U+1F336, U+1F378, U+1F37D, U+1F393, U+1F396-1F397, U+1F399-1F39B, U+1F39E-1F39F, U+1F3A7, U+1F3AC-1F3AE, U+1F3C2, U+1F3C4, U+1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F3, U+1F3F5, U+1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F446-1F449, U+1F44D-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4BB, U+1F4BF, U+1F4CB, U+1F4DA, U+1F4DF, U+1F4E4-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD, U+1F508, U+1F50D, U+1F512-1F513, U+1F549-1F54A, U+1F550-1F567, U+1F56F-1F570, U+1F573-1F579, U+1F587, U+1F58A-1F58D, U+1F590, U+1F5A5, U+1F5A8, U+1F5B1-1F5B2, U+1F5BC, U+1F5C2-1F5C4, U+1F5D1-1F5D3, U+1F5DC-1F5DE, U+1F5E1, U+1F5E3, U+1F5E8, U+1F5EF, U+1F5F3, U+1F5FA, U+1F610, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6CB, U+1F6CD-1F6CF, U+1F6E0-1F6E5, U+1F6E9, U+1F6F0, U+1F6F3;
}

html {
  font-size: 12px;
  /*font-family: Emoji, sans-serif;*/
  font-family: "Noto Sans JP", sans-serif;
}

body {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 2rem;
}

.attou {
  color: black;
  font-size: 96px;
  line-height: 113px;
  font-weight: 900;
  text-align: center;
  font-feature-settings: "palt";
}

table {
  width: 100%;
  table-layout: fixed;
}

.char {
  font-size: 36px;
  width: 1.5em;
  white-space: nowrap;
  overflow: hidden;
}

.code {
}
